* {
  background-color: #2b2727;
  color: #f8f8f280;
}

h1 {
  color: #645188;
  font-size: xx-large;
}

h2 {
  color: #645188;
}

p {
  font-size: large;
}

a {
  color: #886451;
  font-size: larger;
  text-decoration: none;
  text-shadow: 0 0 10px #f1fa8c50;
}

mark {
  color: #8be9fd;
  font-size: larger;
  font-weight: bolder;
  text-shadow: 0 0 10px #ffffff80;
}